body {
  /* Font family adapted from medium.com */
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  margin: 0;
  position: relative;
  background-color: #F9F9F9;
  border-left: 1px solid #DDD;
}
div#main {
  width: 100%;
}

#new-post-title {
  border: 0;
  outline: 0;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  resize: none;
  overflow: visible;
}

#new-post-body {
  outline: 0;
  min-height: 4em;
  font-size: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
#new-post-body *:first-child {
  margin-top: 0;
}

@media(max-width:600px) {
  /* Break up toolbar to two rows of 4 */
  .medium-editor-toolbar-actions {
    max-width: 240px;

  }
  /* Fit the link + buttons in the same line */
  .medium-editor-toolbar-form .medium-editor-toolbar-input {
    max-width: 200px;
  }

  /* Horizontal grid lines for multiple rows of actions */
  .medium-editor-toolbar li button.medium-editor-action {
    border-bottom: 1px solid #5b3a0e;
  }
}

blockquote {
  margin: 25px;
  border-left: 6px solid #df0d32;
  padding-left: 9px;
  margin-left: -15px;
  color: #555;
}

div.medium-editor-placeholder:after {
  color: #a9a9a9;
  font-style: normal;
}

/** ----------- LIST CSS ------------- */
.view-align {
  padding: 0 1em;
  width: 600px;
  margin: 0 auto;
}
.view-align > div {
  padding: 0 .66em 1em;
  font-weight: bold;
  font-size: 1.5em;
}
.view-align > ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.view-align > ol > li {
  font-weight: bold;
  display: block;
  cursor: pointer;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #FFF;
  box-shadow: 0 0 5px #888;
  -webkit-transition: background-color .2s ease-in,color .2s ease-in;
  transition: background-color .2s ease-in,color .2s ease-in;
}
.view-align > ol > li:hover {
  background-color: #FCFCFC;
}

.view-align > ol > li span {
  text-transform: uppercase;
  color: gray;
  font-size: 69%;
}

/** ----------- NAV CSS ------------- */
#navigation li {
  display: inline;
  margin: 0 1em;
}

a {
  text-decoration: none;
  color: #3a3a3a;
  padding: .5em 0em;
  border-bottom: 2px solid #000;
  cursor: pointer;
}

a.selected {
  border-bottom: 2px solid red;
}

#channel[contenteditable=true]:empty:not(:focus):after {
  content: attr(placeholder);
  color: gray;
  cursor: pointer;
}

#new-post-title[contenteditable=true]:empty:not(:focus):after {
  content: attr(placeholder);
  color: gray;
}

#channel {
  cursor: text;
  outline: none;
}
