html {
    /* Prevent font scaling in landscape */
    -webkit-text-size-adjust: 100%;
}

body {
  /* Font family adapted from medium.com */
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  margin: 0;
  position: relative;
  background-color: #F9F9F9;
    /* Put a border to seperate Mist Nav UI */
  border-left: 1px solid #DDD;
  height: 100%;
}
div#main {
  width: 100%;
  height: 100%;
}

#new-post-title {
  border: 0;
  outline: 0;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  resize: none;
  overflow: hidden;
  max-height: 4em;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

#new-post-title[contenteditable=true]:empty:not(:focus):after {
  content: attr(placeholder);
  color: gray;
}

#new-post-body {
  outline: 0;
  min-height: 4em;
  font-size: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
#new-post-body *:first-child {
  margin-top: 0;
}

@media(max-width:600px) {
  body {
    border-left: 0;
  }
  /* Break up toolbar to two rows of 4 */
  .medium-editor-toolbar-actions {
    max-width: 180px;

  }
  /* Fit the link + buttons in the same line */
  .medium-editor-toolbar-form .medium-editor-toolbar-input {
    max-width: 200px;
  }

  /* Horizontal grid lines for multiple rows of actions */
  .medium-editor-toolbar li button.medium-editor-action {
    border-bottom: 1px solid #5b3a0e;
  }
}

blockquote {
  border-left: .4em solid #df0d32;
  padding-left: .6em;
  margin-left: -1em;
  line-height: 1.5em;
  margin-right: 0;
  color: #555;
  font-family: 'Martel', serif;
}

div.medium-editor-placeholder:after {
  color: #a9a9a9;
  font-style: normal;
}

/** ----------- LIST CSS ------------- */
#filter ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #DDD;
  border-radius: 5px;
  cursor: pointer;
}
#filter ul > li {
  display: block;
  background-color: white;
  padding: .5em 1em;
  font-weight: normal;
  font-size: .66em;
  margin: 0;
  border-top: 1px solid #EEE;
  -webkit-transition: background-color .2s ease-in,color .2s ease-in;
  transition: background-color .2s ease-in,color .2s ease-in;
}

#suggestions {
  -webkit-transition: max-height .2s ease-in;
  transition: max-height .2s ease-in;
}

ul.dropdown {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.dropdown > li {
  background-color: #FFF;
  padding: .5em 1em;
}

ul.dropdown > li:first-child {
  border-radius: 5px 5px 0 0;
  border-top: 0;
}
ul.dropdown > li:last-child {
  border-radius: 0 0 5px 5px;
}
ul.dropdown > li:hover {
  background-color: #FCFCFC;
}

.feed {
  max-width: 600px;
  margin: 0 auto;
}

.feed ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.feed ol > li:last-child {
  margin-bottom: 0;
}

.feed ol > li {
  display: block;
  margin-bottom: 1em;
  background-color: #FFF;
  border: 1px solid #DDD;
  -webkit-transition: background-color .2s ease-in,color .2s ease-in;
  transition: background-color .2s ease-in,color .2s ease-in;
}
.feed ol > li:hover {
  background-color: #FCFCFC;
}

.feed ol > li span {
  color: gray;
  font-weight: normal;
  font-size: 69%;
}

/** ----------- NAV CSS ------------- */
#navigation li {
  display: inline;
  margin: 0 1em;
}

a {
  color: inherit;
  /* Needed for anchors without href attribute */
  cursor: pointer;
}

#new-post-body span {
  color: inherit !important;
}

.post ul, post li, post ol {
  font-family: 'Martel', serif;
}

.post p {
  font-family: 'Martel', serif;
  line-height: 1.5em;
}

.post img {
  max-width: 100%;
}
.post pre, .post code {
  margin: -1em;
  padding: 1em;
  background-color: #F9F9F9;
  font-family: 'Martel', serif;
  line-height: 1.5em;
}
.post pre + pre {
  margin-top: 0em;
  padding-top: 0em;
}

li a {
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
  color: #3a3a3a;
  display: block;
}

.flex-grow {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.flex-shrink {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}
.flex {
  display: -webkit-flex;
  display: flex;
}

#filter::-webkit-input-placeholder {
  color: gray;
}

/* Remove shadow around border */
input[type="text"] {
  -webkit-appearance: none;
}
